body {
    width: 100vw;
    height: 100vh;
}

*, *::before, *::after {
    box-sizing: border-box;
}

.container {
    background-image: url("images/pexels-riccardo-bertolo-4245826.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 18px solid #040C81;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.seconds, .minutes, .hours  {
    position: absolute;
    transform-origin: bottom;
    border: 2px solid #04814F;
    background-color: burlywood;
    margin-bottom: 50%;
}

animate

.seconds {
    width: 14px;
    height: 180px;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
    
}

.minutes {
    width: 4px;
    height: 60px;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
}

.hours {
    width: 4px;
    height: 40px;
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
}

